
<div id="homePage">
    <img src="/images/spotify-background.jpeg">
    <div class="searchBar">
        <div class="search">
            <form action="/artist-search" method="GET">
            <input name="artistSearch" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"aria-describedby="search-addon" />
            <button  type="submit" class="btn btn-outline-primary">Search for an Artist</button>
            </form>
        </div>
    </div>
</div>
